Repository hikoinc/hikoui-beta: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm exec sort-package-json, pnpm test -- --findRelatedTests

.lintstagedrc.json:

{
  "*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}": ["pnpm -w eslint --fix", "pnpm -w prettier --write"],
  "*.{json,md,yml,yaml}": "pnpm -w prettier --write",
  "**/package.json": ["pnpm exec sort-package-json"],
  "**/__tests__/*.{ts,tsx}": ["pnpm test -- --findRelatedTests"]
}

chore(vscode): update settings
  .vscode/settings.json
Due: pnpm -w prettier --write

chore(package): remove unused keywords
  packages/components/react/package.json
  packages/core/forward-ref-with-as/package.json
Due: pnpm -w prettier --write, pnpm exec sort-package-json

feat(theme): add initial theme package
  packages/core/theme/CHANGELOG.md
  packages/core/theme/package.json
  packages/core/theme/src/base.css
Due: pnpm -w prettier --write, pnpm exec sort-package-json

feat(storybook): integrate @hikoui-beta/theme
  apps/storybook/.storybook/styles/globals.css
  apps/storybook/package.json
  pnpm-lock.yaml
Due: pnpm -w prettier --write, pnpm exec sort-package-json

feat(dependencies): add class-variance-authority and tailwind-merge
  packages/components/react/package.json
  pnpm-lock.yaml
Due: pnpm -w prettier --write, pnpm exec sort-package-json

chore(tsconfig): unify test file inclusion pattern
  packages/components/react/tsconfig.json
  packages/core/forward-ref-with-as/tsconfig.json
Due: pnpm -w prettier --write

chore(tsconfig): remove unused type declaration files
  apps/storybook/tsconfig.json
Due: pnpm -w prettier --write

chore(lint): update lint-staged configuration
  .husky/pre-commit
  .lintstagedrc.json
Due: pnpm -w prettier --write

chore(package): update test script
  package.json
Due: pnpm -w prettier --write, pnpm exec sort-package-json

chore(repo): remove unused file
  apps/storybook/stories/button/button.stories.tsx
  packages/components/react/src/button/__tests__/button.test.tsx
  packages/components/react/src/button/button.tsx
  packages/components/react/src/button/index.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm test -- --findRelatedTests

chore(package): update dependencies
  apps/storybook/package.json
  package.json
  packages/components/react/package.json
  pnpm-lock.yaml
Due: pnpm -w prettier --write, pnpm exec sort-package-json

chore(workflows): update test commands
  .github/workflows/quality.yml
  .github/workflows/sonarqube.yml
Due: pnpm -w prettier --write

refactor(eslint): modularize ESLint configuration
  eslint.config.mjs
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(rules): add hikoinc-rule.mdc
  .cursor/rules/hikoinc-rule.mdc
Due: none

chore(vscode): enable quick suggestions
  .vscode/settings.json
Due: pnpm -w prettier --write

feat(filter-html-attributes): add utility to filter valid HTML attributes
  packages/components/react/src/utils/filter-html-attributes/filter-html-attributes.ts
  packages/components/react/src/utils/filter-html-attributes/index.ts
  packages/components/react/src/utils/index.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

fix(storybook): clear matchers in preview configuration
  apps/storybook/.storybook/preview.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

fix(storybook): simplify controls configuration
  apps/storybook/.storybook/preview.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(husky): comment out typescheck and test
  .husky/pre-commit
Due: none

feat(text): add Text component
  apps/storybook/stories/text/text.stories.tsx
  packages/components/react/src/index.ts
  packages/components/react/src/text/__tests__/text.test.tsx
  packages/components/react/src/text/index.ts
  packages/components/react/src/text/text.hook.ts
  packages/components/react/src/text/text.tsx
  packages/components/react/src/text/text.variants.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm test -- --findRelatedTests

chore(package): add @turbo/gen dependency
  package.json
  pnpm-lock.yaml
Due: pnpm -w prettier --write, pnpm exec sort-package-json

fix(text): call getTextProps as a function
  packages/components/react/src/text/text.tsx
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(docs): update README files
  packages/core/system/README.md
  packages/core/theme/README.md
Due: pnpm -w prettier --write

chore(docs): update references from Hikoui to HikoUI
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/pull_request_template.md
  CONTRIBUTING.md
  README.md
  packages/components/react/README.md
  packages/components/react/package.json
  packages/core/forward-ref-with-as/package.json
  packages/core/theme/package.json
Due: pnpm -w prettier --write, pnpm exec sort-package-json

chore(filter-html-attributes): remove filterHTMLAttributes utility
  packages/components/react/src/utils/filter-html-attributes/filter-html-attributes.ts
  packages/components/react/src/utils/filter-html-attributes/index.ts
  packages/components/react/src/utils/index.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(tsup): remove banner configuration
  packages/core/forward-ref-with-as/tsup.config.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

feat(system): initialize core system package
  packages/core/system/.gitignore
  packages/core/system/package.json
  packages/core/system/src/filter-html-attributes/filter-html-attributes.ts
  packages/core/system/src/filter-html-attributes/filter-html-attributes.types.ts
  packages/core/system/src/filter-html-attributes/index.ts
  packages/core/system/src/index.ts
  packages/core/system/tsconfig.json
  packages/core/system/tsup.config.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm exec sort-package-json

chore(pnpm-lock): update dependencies
  pnpm-lock.yaml
Due: pnpm -w prettier --write

fix(text): update Text component display name
  packages/components/react/src/text/text.hook.ts
  packages/components/react/src/text/text.tsx
Due: pnpm -w eslint --fix, pnpm -w prettier --write

refactor(text.hook): reorder imports for improved readability
  packages/components/react/src/text/text.hook.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

feat(forward-ref): add initial implementation of forwardRef
  packages/core/forward-ref-with-as/src/__tests__/forward-ref-with-as.test.tsx
  packages/core/forward-ref-with-as/src/forward-ref-with-as.ts
  packages/core/forward-ref-with-as/src/forward-ref-with-as.types.ts
  packages/core/forward-ref-with-as/src/index.ts
  packages/core/forward-ref/.gitignore
  packages/core/forward-ref/CHANGELOG.md
  packages/core/forward-ref/README.md
  packages/core/forward-ref/package.json
  packages/core/forward-ref/src/forward-ref.ts
  packages/core/forward-ref/src/forward-ref.types.ts
  packages/core/forward-ref/src/index.ts
  packages/core/forward-ref/tsconfig.json
  packages/core/forward-ref/tsup.config.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm exec sort-package-json, pnpm test -- --findRelatedTests

chore(dependencies): update forward-ref package
  packages/components/react/package.json
  pnpm-lock.yaml
Due: pnpm -w prettier --write, pnpm exec sort-package-json

chore(forward-ref): remove forward-ref package
  packages/core/forward-ref/.gitignore
  packages/core/forward-ref/CHANGELOG.md
  packages/core/forward-ref/README.md
  packages/core/forward-ref/package.json
  packages/core/forward-ref/src/forward-ref.ts
  packages/core/forward-ref/src/forward-ref.types.ts
  packages/core/forward-ref/src/index.ts
  packages/core/forward-ref/tsconfig.json
  packages/core/forward-ref/tsup.config.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm exec sort-package-json

chore(dependencies): remove forward-ref dependency
  packages/components/react/package.json
  pnpm-lock.yaml
Due: pnpm -w prettier --write, pnpm exec sort-package-json

feat(forward-ref): add forwardRef implementation and types
  packages/core/system/src/forward-ref/forward-ref.ts
  packages/core/system/src/forward-ref/forward-ref.types.ts
  packages/core/system/src/forward-ref/index.ts
  packages/core/system/src/index.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

refactor(text): replace forwardRefWithAs with forwardRefs
  packages/components/react/src/text/text.tsx
  packages/components/react/src/text/types.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(prettier): update .prettierignore
  .prettierignore
Due: none

chore(package): add generate:component script
  package.json
  pnpm-lock.yaml
Due: pnpm -w prettier --write, pnpm exec sort-package-json

chore(tsup): enable watch mode in tsup configuration
  packages/components/react/tsup.config.ts
  packages/core/system/tsup.config.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

fix(text): export all types from text module
  packages/components/react/src/index.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write
