Repository hikoinc/hikoui-beta: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm -w stylelint --fix, pnpm exec sort-package-json

refactor(chore): improve code quality
  packages/react/tsconfig.json
  packages/system/tsconfig.json
  packages/theme/.gitignore
  packages/theme/README.md
  packages/theme/package.json
  packages/theme/src/components/_button.scss
  packages/theme/src/components/_index.scss
  packages/theme/src/primary.scss
  packages/theme/src/themes/_dark.scss
  packages/theme/src/themes/_index.scss
  packages/theme/src/themes/_light.scss
  packages/theme/src/tokens/_colors.scss
  packages/theme/src/tokens/_index.scss
  pnpm-lock.yaml
Due: pnpm -w prettier --write, pnpm -w stylelint --fix, pnpm exec sort-package-json

refactor(chore): improve code quality
  packages/react/tsconfig.json
  packages/system/tsconfig.json
Due: pnpm -w prettier --write

refactor(chore): improve code quality
  packages/react/src/components/text/text.variants.ts
  packages/theme/package.json
  packages/theme/src/components/_button.scss
  packages/theme/src/components/_index.scss
  packages/theme/src/components/_link.scss
  packages/theme/src/components/_text.scss
  packages/theme/src/primary.scss
  packages/theme/src/themes/_dark.scss
  packages/theme/src/themes/_index.scss
  packages/theme/src/themes/_light.scss
  packages/theme/src/tokens/_colors.scss
  packages/theme/src/tokens/_index.scss
  packages/theme/src/utils/_component.scss
  packages/theme/src/utils/_index.scss
  packages/theme/src/utils/_theme.scss
  pnpm-lock.yaml
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm -w stylelint --fix, pnpm exec sort-package-json

refactor(chore): improve code quality
  packages/system/src/filter-html-attributes/html-element-attributes.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

refactor(chore): improve code quality
  apps/storybook/vitest.shims.d.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

refactor(chore): improve code quality
  .vscode/settings.json
  apps/storybook/package.json
  apps/storybook/stories/button/button.stories.tsx
  apps/storybook/stories/link/link.stories.tsx
  apps/storybook/stories/text/text.stories.tsx
  packages/react/src/components/button/button.variants.ts
  packages/react/src/components/link/__tests__/link.test.tsx
  packages/react/src/components/link/link.variants.ts
  packages/react/src/components/text/text.variants.ts
  packages/theme/src/colors/_colors.scss
  packages/theme/src/colors/_common-colors.scss
  packages/theme/src/colors/_index.scss
  packages/theme/src/colors/_semantic-colors.scss
  packages/theme/src/components/_button.scss
  packages/theme/src/components/_link.scss
  packages/theme/src/components/_text.scss
  packages/theme/src/themes/_dark.scss
  packages/theme/src/themes/_light.scss
  packages/theme/src/tokens/_colors.scss
  packages/theme/src/utils/_component.scss
  pnpm-lock.yaml
  turbo/generators/templates/component/stories/component.stories.hbs
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm -w stylelint --fix, pnpm exec sort-package-json

refactor(chore): improve code quality
  turbo/generators/templates/package/tsconfig.hbs
Due: none

refactor(chore): improve code quality
  packages/react/package.json
  packages/system/package.json
  packages/theme/.gitignore
  packages/theme/README.md
  packages/theme/package.json
  packages/theme/src/colors/_colors.scss
  packages/theme/src/colors/_common-colors.scss
  packages/theme/src/colors/_index.scss
  packages/theme/src/colors/_semantic-colors.scss
  packages/theme/src/components/_button.scss
  packages/theme/src/components/_index.scss
  packages/theme/src/components/_link.scss
  packages/theme/src/components/_text.scss
  packages/theme/src/primary.scss
  packages/theme/src/themes/_dark.scss
  packages/theme/src/themes/_index.scss
  packages/theme/src/themes/_light.scss
  packages/theme/src/utils/_component.scss
  packages/theme/src/utils/_index.scss
  packages/theme/src/utils/_theme.scss
  pnpm-lock.yaml
  turbo/generators/templates/package/package.hbs
Due: pnpm -w prettier --write, pnpm -w stylelint --fix, pnpm exec sort-package-json

refactor(chore): improve code quality
  apps/storybook/package.json
  packages/theme/.gitignore
  packages/theme/README.md
  packages/theme/base.config.json
  packages/theme/package.json
  packages/theme/primary.config.json
  packages/theme/secondary.config.json
  packages/theme/src/primary.json
  packages/theme/src/secondary.json
  packages/theme/tsconfig.json
  pnpm-lock.yaml
Due: pnpm -w prettier --write, pnpm exec sort-package-json

refactor(chore): improve code quality
  packages/theme/README.md
  packages/theme/src/colors/primary.json
  packages/theme/src/colors/secondary.json
Due: pnpm -w prettier --write

refactor(chore): improve code quality
  .cursor/rules/hikoinc-rule.mdc
  packages/theme/.gitignore
  packages/theme/README.md
  packages/theme/base.config.json
  packages/theme/package.json
  packages/theme/primary.config.json
  packages/theme/secondary.config.json
  packages/theme/src/colors/primary.json
  packages/theme/src/colors/secondary.json
  packages/theme/src/tokens/primary/common-colors.json
  packages/theme/src/tokens/primary/dark-theme.json
  packages/theme/style-dictionary.config.mjs
  packages/theme/tsconfig.json
  pnpm-lock.yaml
  turbo/generators/templates/package/.gitignore.hbs
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm exec sort-package-json

refactor(chore): improve code quality
  packages/react/package.json
  packages/system/package.json
  turbo/generators/templates/package/package.hbs
Due: pnpm -w prettier --write, pnpm exec sort-package-json

refactor(chore): improve code quality
  .husky/pre-commit
  .lintstagedrc.json
  .stylelintignore
  .stylelintrc.json
  .vscode/settings.json
  apps/storybook/package.json
  eslint.config.mjs
  package.json
  packages/theme/build-tokens.mjs
  packages/theme/package.json
  packages/theme/src/tokens/primary/common-colors.json
  packages/theme/src/tokens/primary/dark-colors.json
  packages/theme/src/tokens/primary/dark-theme.json
  packages/theme/style-dictionary.config.mjs
  packages/theme/tsconfig.json
  pnpm-lock.yaml
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm exec sort-package-json

refactor(chore): improve code quality
  packages/theme/build-tokens.mjs
  packages/theme/package.json
  packages/theme/scripts/build-tokens.ts
  packages/theme/src/configs/primary.configs.ts
  packages/theme/tsconfig.json
  pnpm-lock.yaml
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm exec sort-package-json

feat(theme): restructure theme configuration
  _sample.css
  packages/theme/src/configs/primary.configs.ts
  packages/theme/src/tokens/primary/common-colors.json
  packages/theme/src/tokens/primary/common/colors.json
  packages/theme/src/tokens/primary/dark-colors.json
  packages/theme/src/tokens/primary/dark/colors.json
  pnpm-lock.yaml
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm -w stylelint --fix

refactor(chore): improve code quality
  _sample.css
  packages/theme/package.json
  packages/theme/src/configs/primary.configs.ts
  packages/theme/src/tokens/primary/common/colors.json
  packages/theme/src/tokens/primary/common/semantic.json
  pnpm-lock.yaml
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm -w stylelint --fix, pnpm exec sort-package-json

refactor(chore): improve code quality
  apps/storybook/.storybook/utils/apply-theme-class.ts
  packages/system/src/filter-html-attributes/filter-html-attributes.ts
  packages/theme/scripts/build-tokens.ts
  turbo/generators/config.ts
  turbo/generators/templates/component/config.ts
  turbo/generators/templates/package/config.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

refactor(chore): improve code quality
  packages/theme/colors/common/colors.json
  packages/theme/colors/dark/colors.json
Due: pnpm -w prettier --write

refactor(chore): improve code quality
  packages/theme/colors/common/colors.json
  packages/theme/colors/dark/colors.json
  packages/theme/package.json
  packages/theme/src/configs/primary.configs.ts
  packages/theme/src/tokens/primary/common/colors.json
  packages/theme/src/tokens/primary/common/semantic.json
  packages/theme/src/tokens/primary/dark/colors.json
  pnpm-lock.yaml
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm exec sort-package-json

refactor(chore): improve code quality
  apps/storybook/stories/color/common.stories.tsx
  apps/storybook/stories/color/semantic.stories.tsx
  apps/storybook/stories/text/text.stories.tsx
  packages/react/src/components/text/text.variants.ts
  packages/theme/src/tokens/primary/common/colors.json
  packages/theme/src/tokens/primary/dark/colors.json
Due: pnpm -w eslint --fix, pnpm -w prettier --write

refactor(chore): improve code quality
  .github/common-actions/setup/action.yml
  package.json
  packages/react/package.json
  packages/system/package.json
  packages/theme/package.json
  turbo/generators/templates/package/package.hbs
Due: pnpm -w prettier --write, pnpm exec sort-package-json

refactor(chore): improve code quality
  .cursor/rules/hikoinc-rule.mdc
  apps/docs/.gitignore
  apps/docs/README.md
  apps/docs/next.config.ts
  apps/docs/package.json
  apps/docs/postcss.config.mjs
  apps/docs/public/.gitkeep
  apps/docs/src/app/_meta.global.ts
  apps/docs/src/app/docs/nested-level/bar/page.mdx
  apps/docs/src/app/docs/one-level/page.mdx
  apps/docs/src/app/docs/page.mdx
  apps/docs/src/app/layout.tsx
  apps/docs/src/app/page.mdx
  apps/docs/src/components/table-of-contents.tsx
  apps/docs/src/layout/footer.tsx
  apps/docs/src/layout/layout.tsx
  apps/docs/src/layout/navbar.tsx
  apps/docs/src/layout/sidebar.tsx
  apps/docs/src/mdx-components.tsx
  apps/docs/src/styles/globals.css
  apps/docs/tsconfig.json
  pnpm-lock.yaml
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm -w stylelint --fix, pnpm exec sort-package-json

refactor(chore): improve code quality
  .gitignore
  .prettierignore
  apps/docs/.gitignore
  apps/docs/next.config.ts
  apps/docs/package.json
  apps/docs/public/.gitkeep
  apps/docs/public/file.svg
  apps/docs/public/globe.svg
  apps/docs/public/next.svg
  apps/docs/public/vercel.svg
  apps/docs/public/window.svg
  apps/docs/src/app/_meta.global.ts
  apps/docs/src/app/docs/layout.tsx
  apps/docs/src/app/docs/nested-level/bar/page.mdx
  apps/docs/src/app/docs/one-level/page.mdx
  apps/docs/src/app/docs/page.mdx
  apps/docs/src/app/docs/page.tsx
  apps/docs/src/app/favicon.ico
  apps/docs/src/app/layout.tsx
  apps/docs/src/app/page.mdx
  apps/docs/src/app/page.tsx
  apps/docs/src/components/table-of-contents.tsx
  apps/docs/src/layout/footer.tsx
  apps/docs/src/layout/layout.tsx
  apps/docs/src/layout/navbar.tsx
  apps/docs/src/layout/sidebar.tsx
  apps/docs/src/mdx-components.tsx
  apps/docs/src/styles/globals.css
  apps/storybook/.gitignore
  eslint.config.mjs
  packages/react/.gitignore
  packages/system/.gitignore
  packages/theme/.gitignore
  pnpm-lock.yaml
  turbo/generators/templates/package/.gitignore.hbs
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm -w stylelint --fix, pnpm exec sort-package-json

refactor(chore): improve code quality
  .gitignore
  apps/docs/.gitignore
  apps/docs/next-env.d.ts
  apps/storybook/.gitignore
  eslint.config.mjs
  packages/react/.gitignore
  packages/system/.gitignore
  packages/theme/.gitignore
  turbo/generators/templates/package/.gitignore.hbs
Due: pnpm -w eslint --fix, pnpm -w prettier --write

refactor(chore): improve code quality
  apps/docs/contentlayer.config.ts
  apps/docs/src/hooks/index.ts
  apps/docs/src/hooks/use-active-path/index.ts
  apps/docs/src/hooks/use-active-path/use-active-path.ts
  apps/docs/src/hooks/use-all-docs/index.ts
  apps/docs/src/hooks/use-all-docs/use-all-docs.ts
  apps/docs/src/layout/content/content-breadcrumb.hook.ts
  apps/docs/src/layout/content/content-pagination.hook.ts
  apps/docs/src/layout/footer/footer.tsx
  apps/docs/src/layout/sidebar/sidebar-menus.hook.ts
  apps/docs/src/layout/sidebar/sidebar-menus.tsx
  apps/docs/src/layout/summary/summary-navigation.hook.ts
  apps/docs/src/layout/summary/summary-navigation.tsx
  apps/docs/src/markdown/docs/getting-started/installation.mdx
  apps/docs/src/styles/globals.css
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm -w stylelint --fix

refactor(chore): improve code quality
  apps/docs/src/styles/globals.css
  packages/react/package.json
  packages/system/package.json
  packages/theme/package.json
  packages/theme/scripts/build-all-platforms.ts
  packages/theme/src/configs/primary.config.ts
  packages/theme/src/formats/tailwindcss-variable.helper.ts
  packages/theme/src/tokens/primary/colors.json
  pnpm-lock.yaml
  turbo/generators/templates/package/package.hbs
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm -w stylelint --fix, pnpm exec sort-package-json

Path conditions:
  pnpm -w eslint --fix: any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts}
  pnpm -w prettier --write: ((any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts}) or (any of: *.{css,scss})) or (any of: *.{json,md,yml,yaml})
  pnpm -w stylelint --fix: any of: *.{css,scss}
  pnpm exec sort-package-json: any of: **/package.json
