Repository hikoinc/hikoui-beta: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm -w eslint --fix, pnpm -w prettier --write

chore(workflows): update SonarQube workflow name and action version
  .github/workflows/sonarqube.yml
  sonar-project.properties
Due: pnpm -w prettier --write

chore(workflows): remove SonarQube workflow file
  .github/workflows/sonarqube.yml
Due: pnpm -w prettier --write

chore(workflows): add CodeQL analysis workflow
  .github/workflows/_sample_codeqlyml
Due: none

chore(vscode): update extensions and settings
  .vscode/extensions.json
  .vscode/settings.json
Due: pnpm -w prettier --write

chore(workflows): add CodeQL analysis configuration
  .github/workflows/codeql.yml
Due: pnpm -w prettier --write

chore(workflows): add synchronize
  .github/workflows/semantic-pull-request.yml
Due: pnpm -w prettier --write

chore(workflows): rename Lint PR
  .github/workflows/semantic-pull-request.yml
Due: pnpm -w prettier --write

chore(workflows): add semantic pull request validation workflow
  .github/workflows/semantic.yml
Due: pnpm -w prettier --write

chore(workflows): add validation for single commit (#19)
  .github/workflows/semantic.yml
  .vscode/extensions.json
  .vscode/settings.json
  sonar-project.properties
Due: pnpm -w prettier --write

chore(react): remove package-lock.json file
  packages/react/package-lock.json
Due: pnpm -w prettier --write

chore(vscode): add editor tab size setting
  .vscode/settings.json
Due: pnpm -w prettier --write

chore(jest): update coverage configuration
  jest.config.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(workflows): add Codecov workflow
  .github/workflows/codecov.yml
Due: pnpm -w prettier --write

test(button): add unit tests for Button component functionality
  packages/react/src/button/__tests__/button.test.tsx
Due: pnpm -w eslint --fix, pnpm -w prettier --write

docs(readme): add badges
  README.md
Due: pnpm -w prettier --write

chore(workflows): rename job for clarity in Codecov workflow
  .github/workflows/codecov.yml
Due: pnpm -w prettier --write

chore(react): remove package-lock.json file (#20)
  .github/workflows/codecov.yml
  .vscode/settings.json
  README.md
  jest.config.ts
  packages/react/package-lock.json
  packages/react/src/button/__tests__/button.test.tsx
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(workflows): add push trigger for main
  .github/workflows/codecov.yml
Due: pnpm -w prettier --write

chore(workflows): add push trigger for main branch
  .github/workflows/codeql.yml
Due: pnpm -w prettier --write

refactor(repo): clean code for best practices (#21)
  .github/workflows/codecov.yml
  .github/workflows/codeql.yml
Due: pnpm -w prettier --write

fix(readme): update Codecov badge URL to include token
  README.md
Due: pnpm -w prettier --write

chore(workflows): update Codecov and add SonarQube workflow
  .github/workflows/sonarqube.yml
Due: pnpm -w prettier --write

chore(workflows): rename workflow from Codecov to SonarQube
  .github/workflows/sonarqube.yml
Due: pnpm -w prettier --write

fix(workflows): correct syntax for SonarQube token reference
  .github/workflows/sonarqube.yml
Due: pnpm -w prettier --write

fix(workflows): update SonarQube token reference in workflow
  .github/workflows/sonarqube.yml
Due: pnpm -w prettier --write

fix(sonar): update project key to include beta suffix
  sonar-project.properties
Due: none

fix(readme): update Codecov badge URL to include token (#22)
  .github/workflows/sonarqube.yml
  README.md
  sonar-project.properties
Due: pnpm -w prettier --write

chore(workflows): remove Codecov workflow file
  README.md
Due: pnpm -w prettier --write

chore(workflows): delete Codecov workflow file
  .github/workflows/codecov.yml
Due: pnpm -w prettier --write

chore(workflows): update SonarQube workflow
  .github/workflows/sonarqube.yml
Due: pnpm -w prettier --write

chore(workflows): remove Codecov workflow file (#23)
  .github/workflows/codecov.yml
  .github/workflows/sonarqube.yml
  README.md
Due: pnpm -w prettier --write

chore(sonar): add JavaScript LCOV report path
  sonar-project.properties
Due: none

chore(workflows): set fetch-depth to 0
  .github/workflows/sonarqube.yml
Due: pnpm -w prettier --write

chore(workflows): enhance SonarQube workflow
  .github/workflows/sonarqube.yml
Due: pnpm -w prettier --write

chore(dictionary): remove English dictionary file
  .vscode/ltex.dictionary.en-US.txt
Due: none

chore(sonar): add JavaScript LCOV report path (#24)
  .github/workflows/sonarqube.yml
  .vscode/ltex.dictionary.en-US.txt
  sonar-project.properties
Due: pnpm -w prettier --write

chore(jest): update Jest configuration to enable coverage
  jest.config.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(jest): update Jest configuration to enable coverage (#25)
  jest.config.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(dependencies): standardize package names
  pnpm-lock.yaml
Due: pnpm -w prettier --write

chore(sonar): update SonarQube configuration
  .github/workflows/sonarqube.yml
  sonar-project.properties
Due: pnpm -w prettier --write

Path conditions:
  pnpm -w eslint --fix: any of: *.{js,mjs,cjs,jsx,mjsx,ts,tsx,mtsx}
  pnpm -w prettier --write: (any of: *.{js,mjs,cjs,jsx,mjsx,ts,tsx,mtsx}) or (any of: *.{json,md,yml,yaml})
