Repository hikoinc/hikoui-beta: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm -w eslint --fix, pnpm -w prettier --write

chore(husky): add shebang and Husky script
  .husky/commit-msg
  .husky/pre-commit
Due: none

fix(husky): update pre-commit hook
  .husky/commit-msg
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: pnpm -w prettier --write

feat(eslint): enhance import order rules and update linting
  .lintstagedrc.json
  eslint.config.mjs
  package.json
  packages/components/react/package.json
  packages/components/react/src/button/__tests__/button.test.tsx
  packages/core/forward-ref-with-as/package.json
  packages/core/forward-ref-with-as/src/__test__/forward-ref-with-as.test.tsx
  pnpm-lock.yaml
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(package): remove Storybook build and dependency
  package.json
  turbo.json
Due: pnpm -w prettier --write

chore(config): format JSON for experimental options
  .changeset/config.json
Due: pnpm -w prettier --write

fix(husky): remove deprecated lines from pre-commit hook (#33)
  .changeset/config.json
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  eslint.config.mjs
  package.json
  packages/components/react/package.json
  packages/components/react/src/button/__tests__/button.test.tsx
  packages/core/forward-ref-with-as/package.json
  packages/core/forward-ref-with-as/src/__test__/forward-ref-with-as.test.tsx
  pnpm-lock.yaml
  turbo.json
Due: pnpm -w eslint --fix, pnpm -w prettier --write

refactor(repo): clean code for best practices
  .changeset/config.json
  eslint.config.mts
Due: pnpm -w prettier --write

chore(pr-template): update additional information
  .github/pull_request_template.md
Due: pnpm -w prettier --write

chore(pr-template): enhance clarity and consistency
  .github/pull_request_template.md
Due: pnpm -w prettier --write

chore(pnpm): remove unused dependencies
  packages/components/react/package.json
  pnpm-lock.yaml
Due: pnpm -w prettier --write

chore(tsconfig): remove ts config and generator files
  packages/components/react/turbo/generators/config.ts
  packages/components/react/turbo/generators/templates/component.hbs
  tsconfig.json
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(docs): update package names
  packages/components/react/README.md
  packages/core/forward-ref-with-as/README.md
Due: pnpm -w prettier --write

chore(tsconfig): update tsconfig references
  packages/components/react/tsconfig.json
  packages/core/forward-ref-with-as/tsconfig.json
  typescript/tsconfig.json
Due: pnpm -w prettier --write

chore(workflows): streamline workflow configurations
  .github/common-actions/setup/action.yml
  .github/workflows/codeql.yml
  .github/workflows/issue-stale.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/semantic.yml
  .github/workflows/sonarqube.yml
Due: pnpm -w prettier --write

chore(workflows): improve workflow configurations
  .github/common-actions/setup/action.yml
  .github/workflows/codeql.yml
  .github/workflows/issue-stale.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/semantic.yml
  .github/workflows/sonarqube.yml
Due: pnpm -w prettier --write

chore(workflows): add git configuration inputs
  .github/common-actions/setup/action.yml
Due: pnpm -w prettier --write

chore(workflows): enhance build and ESLint workflow
  .github/workflows/quality.yml
Due: pnpm -w prettier --write

chore(workflows): refine artifact download
  .github/workflows/quality.yml
Due: pnpm -w prettier --write

chore(workflows): update artifact version
  .github/workflows/quality.yml
Due: pnpm -w prettier --write

chore(workflows): remove coverage file check
  .github/workflows/sonarqube.yml
Due: pnpm -w prettier --write

chore(workflows): update artifact download path
  .github/workflows/quality.yml
Due: pnpm -w prettier --write

chore(tsconfig): add base tsconfig
  packages/components/react/tsconfig.json
  packages/core/forward-ref-with-as/tsconfig.json
  tsconfig.json
Due: pnpm -w prettier --write

fix(tsconfig): correct path in tsconfig extends
  packages/components/react/tsconfig.json
  packages/core/forward-ref-with-as/tsconfig.json
Due: pnpm -w prettier --write

chore(package): move @testing-library/jest-dom to devDependencies
  package.json
Due: pnpm -w prettier --write

chore(package): reorganize dependencies and devDependencies
  packages/components/react/package.json
  packages/core/forward-ref-with-as/package.json
Due: pnpm -w prettier --write

chore(package): update dependencies
  pnpm-lock.yaml
Due: pnpm -w prettier --write

chore(eslint): add ESLint configuration
  .lintstagedrc.json
  eslint.config.mjs
  jest.config.ts
  package.json
  packages/components/react/src/button/__tests__/button.test.tsx
  packages/components/react/tsconfig.json
  packages/core/forward-ref-with-as/package.json
  packages/core/forward-ref-with-as/src/__tests__/forward-ref-with-as.test.tsx
  pnpm-lock.yaml
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(tsconfig): add noEmit option
  tsconfig.json
Due: pnpm -w prettier --write

fix(tsconfig): correct path in tsconfig extends
  packages/core/forward-ref-with-as/tsconfig.json
Due: pnpm -w prettier --write

chore(husky): add typescheck command
  .husky/pre-commit
Due: none

chore(dependencies): update resolver bindings
  .github/workflows/quality.yml
  pnpm-lock.yaml
Due: pnpm -w prettier --write

chore(package): move react to devDependencies
  package.json
Due: pnpm -w prettier --write

chore(package): update build script to use turbo
  package.json
Due: pnpm -w prettier --write

chore(package): add react-dom to dependencies
  package.json
  pnpm-lock.yaml
Due: pnpm -w prettier --write

chore(gitignore): add common ignore patterns
  apps/storybook/.gitignore
  packages/core/forward-ref-with-as/.gitignore
Due: none

chore(storybook): add initial package.json
  apps/storybook/package.json
  pnpm-lock.yaml
Due: pnpm -w prettier --write

chore(storybook): configure Storybook with Vitest
  .changeset/config.json
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/preview.ts
  apps/storybook/.storybook/vitest.setup.ts
  apps/storybook/package.json
  apps/storybook/src/stories/button/button.stories.tsx
  apps/storybook/src/stories/button/button.tsx
  apps/storybook/tsconfig.json
  apps/storybook/vitest.config.mts
  apps/storybook/vitest.shims.d.ts
  eslint.config.mjs
  package.json
  packages/components/react/package.json
  packages/components/react/tsconfig.json
  packages/core/forward-ref-with-as/package.json
  packages/core/forward-ref-with-as/tsconfig.json
  pnpm-lock.yaml
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(dependencies): add Tailwind CSS and PostCSS
  pnpm-lock.yaml
Due: pnpm -w prettier --write

chore(pr-template): update pull request template
  .github/pull_request_template.md
Due: pnpm -w prettier --write

chore(storybook): integrate Tailwind CSS and restructure stories
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/preview.ts
  apps/storybook/.storybook/styles/global.css
  apps/storybook/.storybook/utils/get-absolute-path.ts
  apps/storybook/.storybook/utils/index.ts
  apps/storybook/package.json
  apps/storybook/postcss.config.mjs
  apps/storybook/src/stories/button/button.stories.tsx
  apps/storybook/stories/button/button.stories.tsx
  apps/storybook/stories/button/button.tsx
  apps/storybook/tsconfig.json
Due: pnpm -w eslint --fix, pnpm -w prettier --write

Path conditions:
  pnpm -w eslint --fix: any of: *.{js,mjs,cjs,jsx,mjsx,ts,tsx,mtsx}
  pnpm -w prettier --write: (any of: *.{js,mjs,cjs,jsx,mjsx,ts,tsx,mtsx}) or (any of: *.{json,md,yml,yaml})
