Repository hikoinc/hikoui-beta: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm -w eslint --fix, pnpm -w prettier --write

chore(sonar): update SonarQube configuration (#26)
  .github/workflows/sonarqube.yml
  pnpm-lock.yaml
  sonar-project.properties
Due: pnpm -w prettier --write

chore(readme): update SonarQube badge labels
  README.md
Due: pnpm -w prettier --write

chore(sonar): enhance SonarQube configuration
  sonar-project.properties
Due: none

chore(eslint): update file patterns
  eslint.config.mjs
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(readme): update SonarQube badge
  README.md
Due: pnpm -w prettier --write

chore(sonar): update paths
  sonar-project.properties
Due: none

chore(sonar): enhance SonarQube configuration (#28)
  README.md
  eslint.config.mjs
  sonar-project.properties
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(sonar): update SonarQube paths
  sonar-project.properties
Due: none

chore(dependencies): standardize package names
  pnpm-lock.yaml
Due: pnpm -w prettier --write

chore(sonar): refine test path configuration
  sonar-project.properties
Due: none

chore(sonar): update source and test paths
  sonar-project.properties
Due: none

chore(sonar): update SonarQube paths (#29)
  pnpm-lock.yaml
  sonar-project.properties
Due: pnpm -w prettier --write

chore(sonar): update SonarQube configuration
  .github/workflows/sonarqube.yml
  .gitignore
  _sonar-project_.properties
  jest.config.ts
  package.json
  pnpm-lock.yaml
  sonar-project.properties
Due: pnpm -w eslint --fix, pnpm -w prettier --write

feat(button): add Storybook stories for Button component
  app/storybook/stories/button/button.stories.tsx
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(sonar): refine exclusion patterns
  sonar-project.properties
Due: none

chore(sonar): simplify exclusion patterns
  sonar-project.properties
Due: none

chore(package): add clean:reports script to package.json
  package.json
Due: pnpm -w prettier --write

chore(workflows): restructure quality.yml
  .github/workflows/quality.yml
Due: pnpm -w prettier --write

chore(config): change internal dependencies
  .changeset/config.json
Due: pnpm -w prettier --write

chore(sonar): remove obsolete SonarQube properties file
  _sonar-project_.properties
Due: none

chore(dependencies): standardize package names
  app/storybook/package.json
  pnpm-lock.yaml
Due: pnpm -w prettier --write

chore(sonar): add project key and organization
  sonar-project.properties
Due: none

chore(sonar): update coverage and exclusion patterns
  sonar-project.properties
Due: none

chore(sonar): remove test execution report
  jest.config.ts
  package.json
  pnpm-lock.yaml
  sonar-project.properties
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(sonar): enhance exclusion patterns for coverage reports
  sonar-project.properties
Due: none

chore(sonar): update source path
  sonar-project.properties
Due: none

chore(sonar): remove unused arguments
  .github/workflows/sonarqube.yml
Due: pnpm -w prettier --write

chore(sonar): add coverage file check
  .github/workflows/sonarqube.yml
Due: pnpm -w prettier --write

chore(sonar): update coverage configuration
  .github/workflows/sonarqube.yml
  jest.config.ts
  sonar-project.properties
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(sonar): refine exclusion patterns
  .github/workflows/sonarqube.yml
  sonar-project.properties
Due: pnpm -w prettier --write

chore(sonar): update SonarQube configuration (#30)
  .changeset/config.json
  .github/workflows/quality.yml
  .github/workflows/sonarqube.yml
  .gitignore
  app/storybook/package.json
  app/storybook/stories/button/button.stories.tsx
  jest.config.ts
  package.json
  pnpm-lock.yaml
  sonar-project.properties
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(sonar): extend exclusion patterns
  sonar-project.properties
Due: none

chore(sonar): extend exclusion patterns (#31)
  sonar-project.properties
Due: none

feat(storybook): initialize Storybook setup
  .gitignore
  apps/storybook/.storybook/helper/get-absolute-path.ts
  apps/storybook/.storybook/helper/index.ts
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/preview.ts
  apps/storybook/.storybook/styles/global.css
  apps/storybook/.storybook/vitest.setup.ts
  apps/storybook/package.json
  apps/storybook/postcss.config.mjs
  apps/storybook/stories/button/button.stories.tsx
  apps/storybook/tsconfig.json
  apps/storybook/vitest.config.ts
  eslint.config.mjs
  package.json
  packages/components/react/CHANGELOG.md
  packages/components/react/README.md
  packages/components/react/package.json
  packages/components/react/src/button/__tests__/button.test.tsx
  packages/components/react/src/button/button.tsx
  packages/components/react/src/button/index.ts
  packages/components/react/src/index.ts
  packages/components/react/tsconfig.json
  packages/components/react/tsup.config.ts
  packages/components/react/turbo/generators/config.ts
  packages/components/react/turbo/generators/templates/component.hbs
  packages/core/forward-ref-with-as/CHANGELOG.md
  packages/core/forward-ref-with-as/README.md
  packages/core/forward-ref-with-as/package.json
  packages/core/forward-ref-with-as/src/forward-ref-with-as.ts
  packages/core/forward-ref-with-as/src/forward-ref-with-as.types.ts
  packages/core/forward-ref-with-as/src/index.ts
  packages/core/forward-ref-with-as/tsconfig.json
  packages/core/forward-ref-with-as/tsup.config.ts
  packages/react/src/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(eslint): refactor TypeScript parser
  .gitignore
  .npmrc
  .nvmrc
  .prettierignore
  apps/storybook/.storybook/helper/get-absolute-path.ts
  apps/storybook/.storybook/helper/index.ts
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/preview.ts
  apps/storybook/.storybook/styles/global.css
  apps/storybook/.storybook/vitest.setup.ts
  apps/storybook/package.json
  apps/storybook/postcss.config.mjs
  apps/storybook/stories/button/button.stories.tsx
  apps/storybook/tsconfig.json
  apps/storybook/vitest.config.ts
  eslint.config.mjs
  package.json
  packages/components/react/.gitignore
  packages/components/react/package.json
  packages/components/react/src/button/__tests__/button.test.tsx
  packages/components/react/src/button/button.tsx
  packages/components/react/src/index.ts
  packages/components/react/tsconfig.json
  packages/core/forward-ref-with-as/.gitignore
  packages/core/forward-ref-with-as/package.json
  packages/core/forward-ref-with-as/src/forward-ref-with-as.ts
  packages/core/forward-ref-with-as/src/forward-ref-with-as.types.ts
  packages/core/forward-ref-with-as/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Due: pnpm -w eslint --fix, pnpm -w prettier --write

feat(husky): add initial test file for Husky configuration
  _fix-husky.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

fix(husky): remove deprecated lines from pre-commit hook
  .husky/pre-commit
Due: none

feat(husky): add initial test file for Husky configuration
  .husky/commit-msg
Due: none

refactor(husky): remove test file for Husky configuration
  _fix-husky.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

Path conditions:
  pnpm -w eslint --fix: any of: *.{js,mjs,cjs,jsx,mjsx,ts,tsx,mtsx}
  pnpm -w prettier --write: (any of: *.{js,mjs,cjs,jsx,mjsx,ts,tsx,mtsx}) or (any of: *.{json,md,yml,yaml})
