Repository hikoinc/hikoui-beta: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm exec sort-package-json, pnpm test -- --findRelatedTests

.lintstagedrc.json:

{
  "*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}": ["pnpm -w eslint --fix", "pnpm -w prettier --write"],
  "*.{json,md,yml,yaml}": "pnpm -w prettier --write",
  "**/package.json": ["pnpm exec sort-package-json"],
  "**/__tests__/*.{ts,tsx}": ["pnpm test -- --findRelatedTests"]
}

chore(eslint): enforce arrow function definition
  eslint.config.mjs
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(eslint): add Storybook configuration
  eslint.config.mjs
Due: pnpm -w eslint --fix, pnpm -w prettier --write

refactor(button): convert Button component
  packages/components/react/src/button/button.tsx
Due: pnpm -w eslint --fix, pnpm -w prettier --write

fix(storybook): update tsconfig include paths
  apps/storybook/tsconfig.json
Due: pnpm -w prettier --write

refactor(button): convert Button component
  apps/storybook/stories/button/button.tsx
Due: pnpm -w eslint --fix, pnpm -w prettier --write

refactor(repo): clean code for best practices (#34)
  .changeset/config.json
  .github/common-actions/setup/action.yml
  .github/pull_request_template.md
  .github/workflows/quality.yml
  .github/workflows/sonarqube.yml
  .husky/pre-commit
  .lintstagedrc.json
  apps/storybook/.gitignore
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/preview.ts
  apps/storybook/.storybook/styles/global.css
  apps/storybook/.storybook/utils/get-absolute-path.ts
  apps/storybook/.storybook/utils/index.ts
  apps/storybook/.storybook/vitest.setup.ts
  apps/storybook/package.json
  apps/storybook/postcss.config.mjs
  apps/storybook/stories/button/button.stories.tsx
  apps/storybook/stories/button/button.tsx
  apps/storybook/tsconfig.json
  apps/storybook/vitest.config.mts
  apps/storybook/vitest.shims.d.ts
  eslint.config.mjs
  jest.config.ts
  package.json
  packages/components/react/README.md
  packages/components/react/package.json
  packages/components/react/src/button/__tests__/button.test.tsx
  packages/components/react/src/button/button.tsx
  packages/components/react/tsconfig.json
  packages/components/react/turbo/generators/config.ts
  packages/components/react/turbo/generators/templates/component.hbs
  packages/core/forward-ref-with-as/.gitignore
  packages/core/forward-ref-with-as/README.md
  packages/core/forward-ref-with-as/package.json
  packages/core/forward-ref-with-as/src/__tests__/forward-ref-with-as.test.tsx
  packages/core/forward-ref-with-as/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm exec sort-package-json, pnpm test -- --findRelatedTests

refactor(button): remove Button component
  apps/storybook/stories/button/button.tsx
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(storybook): add @hikoui-beta/react dependency
  apps/storybook/package.json
  pnpm-lock.yaml
Due: pnpm -w prettier --write, pnpm exec sort-package-json

refactor(button): update Button component
  apps/storybook/stories/button/button.stories.tsx
  apps/storybook/stories/button/button.tsx
  packages/components/react/src/button/index.ts
  packages/components/react/src/index.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(pnpm): remove unused dependencies
  packages/components/react/package.json
  pnpm-lock.yaml
Due: pnpm -w prettier --write, pnpm exec sort-package-json

fix(tsconfig): update include paths
  apps/storybook/tsconfig.json
  packages/components/react/tsconfig.json
  packages/core/forward-ref-with-as/tsconfig.json
Due: pnpm -w prettier --write

refactor(button): remove unused Button component
  apps/storybook/stories/button/button.tsx
Due: pnpm -w eslint --fix, pnpm -w prettier --write

fix(tsconfig): correct include path syntax in tsconfig files
  packages/components/react/tsconfig.json
  packages/core/forward-ref-with-as/tsconfig.json
Due: pnpm -w prettier --write

chore(dependencies): add Tailwind CSS and PostCSS
  packages/components/react/package.json
  packages/components/react/postcss.config.mjs
  packages/components/react/src/theme/theme.css
  packages/components/react/tsconfig.json
  pnpm-lock.yaml
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm exec sort-package-json

chore(storybook): import @hikoui-beta/react
  apps/storybook/.storybook/styles/global.css
Due: none

chore(styles): add global CSS file
  packages/components/react/src/style/globals.css
  packages/components/react/src/theme/theme.css
Due: none

fix(tsconfig): standardize target property casing
  tsconfig.json
Due: pnpm -w prettier --write

chore(tsconfig): update target property to es2022
  packages/components/react/tsup.config.ts
  packages/core/forward-ref-with-as/tsup.config.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(styles): remove global CSS file
  apps/storybook/.storybook/styles/global.css
Due: none

chore(styles): rename global CSS file and update imports
  apps/storybook/.storybook/preview.ts
  apps/storybook/.storybook/styles/globals.css
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(dependencies): add @hikoui-beta/forward-ref-with-as
  packages/components/react/package.json
  pnpm-lock.yaml
Due: pnpm -w prettier --write, pnpm exec sort-package-json

chore(dependencies): add prop-types
  packages/core/forward-ref-with-as/package.json
  pnpm-lock.yaml
Due: pnpm -w prettier --write, pnpm exec sort-package-json

fix(tsconfig): update include paths in tsconfig files
  packages/components/react/tsconfig.json
  packages/core/forward-ref-with-as/tsconfig.json
Due: pnpm -w prettier --write

refactor(forward-ref-with-as): simplify types and improve component structure
  packages/core/forward-ref-with-as/src/__tests__/forward-ref-with-as.test.tsx
  packages/core/forward-ref-with-as/src/forward-ref-with-as.ts
  packages/core/forward-ref-with-as/src/forward-ref-with-as.types.ts
  packages/core/forward-ref-with-as/src/index.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm test -- --findRelatedTests

refactor(button): implement forwardRefWithAs
  packages/components/react/src/button/__tests__/button.test.tsx
  packages/components/react/src/button/button.tsx
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm test -- --findRelatedTests

fix(tsconfig): refine include paths for TypeScript files
  apps/storybook/tsconfig.json
Due: pnpm -w prettier --write

refactor(button.stories): enhance type definitions
  apps/storybook/stories/button/button.stories.tsx
Due: pnpm -w eslint --fix, pnpm -w prettier --write

fix(tsconfig): standardize include patterns
  apps/storybook/tsconfig.json
  packages/components/react/tsconfig.json
  packages/core/forward-ref-with-as/tsconfig.json
Due: pnpm -w prettier --write

fix(tsconfig): update include patterns
  packages/components/react/tsconfig.json
  packages/core/forward-ref-with-as/tsconfig.json
Due: pnpm -w prettier --write

chore(config): remove unused file
  commitlint.config.ts
  jest.config.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(config): add commitlint configuration
  .commitlintrc.json
Due: pnpm -w prettier --write

chore(config): add Jest configuration file
  jest.config.mjs
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(quality): update test command
  .github/workflows/quality.yml
Due: pnpm -w prettier --write

refactor(sonarqube): clean code for best practices
  .github/workflows/sonarqube.yml
Due: pnpm -w prettier --write

chore(config): update Jest configuration
  jest.config.mjs
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(config): refine SonarQube exclusions
  sonar-project.properties
Due: none

fix(jest): type error filePath.replace is not a function
  jest.config.mjs
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(workflow): ignore storybook-static files
  .github/workflows/codeql.yml
Due: pnpm -w prettier --write

chore(workflow): update paths to ignore
  .github/workflows/codeql.yml
Due: pnpm -w prettier --write

chore(config): streamline coverage exclusions
  jest.config.mjs
  sonar-project.properties
Due: pnpm -w eslint --fix, pnpm -w prettier --write
