Repository hikoinc/hikoui-beta: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm exec sort-package-json, pnpm test -- --findRelatedTests

feat(generator): add React component generator
  turbo/generators/config.ts
  turbo/generators/templates /component.hbs
Due: pnpm -w eslint --fix, pnpm -w prettier --write

feat(generator): enhance React component generator
  turbo/generators/config.ts
  turbo/generators/templates /component.hbs
  turbo/generators/templates/component/component.hbs
  turbo/generators/templates/component/component.hook.hbs
  turbo/generators/templates/component/component.stories.hbs
  turbo/generators/templates/component/component.test.hbs
  turbo/generators/templates/component/component.variants.hbs
  turbo/generators/templates/component/index.hbs
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(tsup): disable watch mode
  packages/components/react/tsup.config.ts
  packages/core/system/tsup.config.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

refactor(text): remove unused types
  packages/components/react/src/text/types.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

refactor(text): update Storybook metadata
  apps/storybook/stories/text/text.stories.tsx
Due: pnpm -w eslint --fix, pnpm -w prettier --write

refactor(text): reorder imports in text.hook.ts
  packages/components/react/src/text/text.hook.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

refactor(forward-ref): remove unnecessary comments
  packages/core/system/src/forward-ref/forward-ref.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(dependencies): update package versions
  pnpm-lock.yaml
Due: pnpm -w prettier --write

chore(prettier): include Handlebars files
  .prettierignore
Due: none

refactor(generator): extract React component generator
  turbo/generators/config.ts
  turbo/generators/templates/component/config.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(changelog): remove outdated CHANGELOG files
  packages/components/react/CHANGELOG.md
  packages/core/theme/CHANGELOG.md
Due: pnpm -w prettier --write

feat(generator): add package generator
  package.json
  turbo/generators/config.ts
  turbo/generators/templates/component/component.stories.hbs
  turbo/generators/templates/package/.gitignore.hbs
  turbo/generators/templates/package/README.hbs
  turbo/generators/templates/package/config.ts
  turbo/generators/templates/package/package.hbs
  turbo/generators/templates/package/src/index.hbs
  turbo/generators/templates/package/tsconfig.hbs
  turbo/generators/templates/package/tsup.config.hbs
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm exec sort-package-json

refactor(generator): rename component generator
  turbo/generators/templates/component/config.ts
  turbo/generators/templates/component/stories/component.stories.hbs
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(vscode): add Jest extension
  .vscode/extensions.json
Due: pnpm -w prettier --write

chore(storybook): remove .gitignore file
  apps/storybook/.gitignore
Due: none

fix(storybook): remove '2xs' size option
  apps/storybook/stories/text/text.stories.tsx
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(gitignore): remove .gitignore files
  packages/components/react/.gitignore
  packages/core/system/.gitignore
  turbo/generators/templates/package/.gitignore.hbs
Due: none

chore(scripts): update build and dev scripts
  packages/components/react/package.json
  packages/core/system/package.json
  turbo/generators/templates/package/package.hbs
Due: pnpm -w prettier --write, pnpm exec sort-package-json

refactor(tests): comment out all tests
  packages/components/react/src/text/__tests__/text.test.tsx
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm test -- --findRelatedTests

feat(theme): restructure theme files
  packages/core/theme/package.json
  packages/core/theme/src/base.css
  packages/core/theme/src/base.scss
  packages/core/theme/src/colors/common/blue.scss
  packages/core/theme/src/colors/common/green.scss
  packages/core/theme/src/colors/common/purple.scss
  packages/core/theme/src/colors/common/red.scss
  packages/core/theme/src/colors/common/yellow.scss
  packages/core/theme/src/colors/dark/neutral.scss
  packages/core/theme/src/colors/light/neutral.scss
  packages/core/theme/src/themes/dark.scss
  packages/core/theme/src/themes/light.scss
Due: pnpm -w prettier --write, pnpm exec sort-package-json

feat(text): update text variant classes
  packages/components/react/src/text/text.variants.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(storybook): remove onboarding addon
  apps/storybook/.storybook/main.ts
  apps/storybook/package.json
  pnpm-lock.yaml
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm exec sort-package-json

chore(storybook): remove unused MDX stories
  apps/storybook/.storybook/main.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

feat(storybook): add global theme support
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/preview.ts
  apps/storybook/.storybook/styles/globals.css
  apps/storybook/README.md
  apps/storybook/package.json
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm exec sort-package-json

chore(dependencies): update storybook versions
  package.json
  pnpm-lock.yaml
Due: pnpm -w prettier --write, pnpm exec sort-package-json

refactor(storybook): simplify theme handling
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/preview.ts
  apps/storybook/.storybook/styles/globals.css
  apps/storybook/package.json
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm exec sort-package-json

chore(dependencies): remove unused dependencies
  apps/storybook/package.json
  pnpm-lock.yaml
Due: pnpm -w prettier --write, pnpm exec sort-package-json

refactor(storybook): extract theme class application
  apps/storybook/.storybook/preview.ts
  apps/storybook/.storybook/utils/apply-theme-class.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(package): update descriptions for system and theme packages
  README.md
  packages/components/react/README.md
  packages/components/react/package.json
  packages/core/system/package.json
  packages/core/theme/package.json
  turbo/generators/templates/component/component.hook.hbs
Due: pnpm -w prettier --write, pnpm exec sort-package-json

refactor(text): simplify useText hook
  packages/components/react/src/text/text.hook.ts
  packages/components/react/src/text/text.variants.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(gitignore): streamline .gitignore files
  apps/storybook/.gitignore
  packages/components/react/.gitignore
  packages/core/system/.gitignore
  packages/core/theme/.gitignore
  turbo/generators/templates/package/.gitignore.hbs
  turbo/generators/templates/package/config.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

feat(storybook): enhance Text component stories
  apps/storybook/stories/text/text.stories.tsx
Due: pnpm -w eslint --fix, pnpm -w prettier --write

refactor(theme): update text color variables
  packages/core/theme/src/base.scss
Due: none

chore(rules): enhance TypeScript guidelines
  .cursor/rules/hikoinc-rule.mdc
Due: none

test(forward-ref): add unit tests
  packages/core/system/src/forward-ref/__tests__/forward-ref.test.tsx
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm test -- --findRelatedTests

test(text): add unit tests
  packages/components/react/src/text/__tests__/text.test.tsx
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm test -- --findRelatedTests

test(forward-ref): simplify and enhance unit tests
  packages/core/system/src/forward-ref/__tests__/forward-ref.test.tsx
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm test -- --findRelatedTests

refactor(get-absolute-path): simplify function signature
  apps/storybook/.storybook/utils/get-absolute-path.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

Path conditions:
  pnpm -w eslint --fix: any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts}
  pnpm -w prettier --write: (any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts}) or (any of: *.{json,md,yml,yaml})
  pnpm exec sort-package-json: any of: **/package.json
  pnpm test -- --findRelatedTests: any of: **/__tests__/*.{ts,tsx}
