Repository hikoinc/hikoui-beta: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm exec sort-package-json, pnpm test -- --findRelatedTests

.lintstagedrc.json:

{
  "*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}": ["pnpm -w eslint --fix", "pnpm -w prettier --write"],
  "*.{json,md,yml,yaml}": "pnpm -w prettier --write",
  "**/package.json": ["pnpm exec sort-package-json"],
  "**/__tests__/*.{ts,tsx}": ["pnpm test -- --findRelatedTests"]
}

feat(text): enhance text component
  apps/storybook/stories/text/text.stories.tsx
  packages/components/react/src/text/__tests__/text.test.tsx
  packages/components/react/src/text/text.hook.ts
  packages/components/react/src/text/text.variants.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm test -- --findRelatedTests

feat(colors): update color definitions
  packages/core/theme/src/colors/common/blue.scss
  packages/core/theme/src/colors/common/green.scss
  packages/core/theme/src/colors/common/purple.scss
  packages/core/theme/src/colors/common/red.scss
  packages/core/theme/src/colors/dark/black-white.scss
  packages/core/theme/src/colors/dark/neutral.scss
  packages/core/theme/src/colors/light/black-white.scss
  packages/core/theme/src/colors/light/neutral.scss
  packages/core/theme/src/themes/dark.scss
  packages/core/theme/src/themes/light.scss
Due: none

fix: resolve eslint and test coverage issues
  apps/storybook/stories/link/link.stories.tsx
  packages/components/react/src/index.ts
  packages/components/react/src/link/__tests__/link.test.tsx
  packages/components/react/src/link/index.ts
  packages/components/react/src/link/link.hook.ts
  packages/components/react/src/link/link.tsx
  packages/components/react/src/link/link.variants.ts
  packages/core/theme/src/base.scss
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm test -- --findRelatedTests

chore(lint): remove stylelint configuration
  .github/workflows/quality.yml
  .lintstagedrc.json
  .stylelintignore
  .stylelintrc.json
  package.json
  pnpm-lock.yaml
Due: pnpm -w prettier --write, pnpm exec sort-package-json

fix(link): update focus variant styles
  packages/components/react/src/link/link.variants.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(lint): add stylelint dependencie
  .lintstagedrc.json
  .stylelintignore
  .stylelintrc.json
  package.json
  pnpm-lock.yaml
Due: pnpm -w prettier --write, pnpm exec sort-package-json

chore(vscode): update terminal scrollback setting
  .vscode/settings.json
Due: pnpm -w prettier --write

refactor(theme): remove commented sections
  .stylelintignore
  packages/core/theme/src/base.scss
Due: none

refactor(colors): update color definitions
  packages/core/theme/src/colors/common/blue.scss
  packages/core/theme/src/colors/common/green.scss
  packages/core/theme/src/colors/common/purple.scss
  packages/core/theme/src/colors/common/red.scss
  packages/core/theme/src/colors/common/yellow.scss
  packages/core/theme/src/colors/dark/black-white.scss
  packages/core/theme/src/colors/dark/neutral.scss
  packages/core/theme/src/colors/light/black-white.scss
  packages/core/theme/src/colors/light/neutral.scss
Due: none

fix(core): correct tsconfig extends path
  packages/react/.gitignore
  packages/react/README.md
  packages/react/package.json
  packages/react/postcss.config.mjs
  packages/react/src/index.ts
  packages/react/src/link/__tests__/link.test.tsx
  packages/react/src/link/index.ts
  packages/react/src/link/link.hook.ts
  packages/react/src/link/link.tsx
  packages/react/src/link/link.variants.ts
  packages/react/src/style/globals.css
  packages/react/src/text/__tests__/text.test.tsx
  packages/react/src/text/index.ts
  packages/react/src/text/text.hook.ts
  packages/react/src/text/text.tsx
  packages/react/src/text/text.variants.ts
  packages/react/tsconfig.json
  packages/react/tsup.config.ts
  pnpm-lock.yaml
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm exec sort-package-json, pnpm test -- --findRelatedTests

fix(core): update turbo generator paths
  turbo/generators/templates/component/config.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

refactor(component): extract createComponentProps utility
  packages/react/src/link/link.hook.ts
  packages/react/src/shared/utils/component.utils.ts
  packages/react/src/text/text.hook.ts
  turbo/generators/templates/component/component.hook.hbs
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(component): remove unused utility
  packages/react/src/shared/utils/component.utils.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

refactor(utils): reorganize createComponentProps utility
  packages/react/src/link/link.hook.ts
  packages/react/src/text/text.hook.ts
  packages/react/src/utils/create-component-props/create-component-props.ts
  packages/react/src/utils/create-component-props/index.ts
  packages/react/src/utils/index.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

fix(eslint): update sonarjs plugin configuration
  eslint.config.mjs
Due: pnpm -w eslint --fix, pnpm -w prettier --write

refactor(hook): update createComponentProps usage
  packages/react/src/link/link.hook.ts
  packages/react/src/text/text.hook.ts
  packages/react/src/utils/create-component-props/create-component-props.ts
  packages/react/src/utils/create-component-props/create-component-props.types.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(workflow): add 'edited' event trigger
  .github/workflows/sonarqube.yml
Due: pnpm -w prettier --write

refactor(hook): improve createComponentProps integration
  turbo/generators/templates/component/component.hook.hbs
Due: none

refactor(eslint): simplify filterHTMLAttributes function
  eslint.config.mjs
  packages/core/system/src/filter-html-attributes/filter-html-attributes.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

refactor(components): restructure Text and Link components
  packages/react/src/components/index.ts
  packages/react/src/components/link/__tests__/link.test.tsx
  packages/react/src/components/link/index.ts
  packages/react/src/components/link/link.hook.ts
  packages/react/src/components/link/link.tsx
  packages/react/src/components/link/link.variants.ts
  packages/react/src/components/text/__tests__/text.test.tsx
  packages/react/src/components/text/index.ts
  packages/react/src/components/text/text.hook.ts
  packages/react/src/components/text/text.tsx
  packages/react/src/components/text/text.variants.ts
  packages/react/src/index.ts
  turbo/generators/templates/component/component.hook.hbs
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm test -- --findRelatedTests

refactor(hook): remove optional href prop
  packages/react/src/components/link/link.hook.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(package): update version to 0.0.0-next.0
  packages/core/system/package.json
  packages/core/theme/package.json
  packages/react/package.json
  turbo/generators/templates/package/package.hbs
Due: pnpm -w prettier --write, pnpm exec sort-package-json

refactor(story): remove href prop
  apps/storybook/stories/link/link.stories.tsx
Due: pnpm -w eslint --fix, pnpm -w prettier --write

refactor(forward-ref): replace forwardRef with forwardPolymorphicRef
  packages/core/system/src/forward-polymorphic-ref/__tests__/forward-polymorphic-ref.test.tsx
  packages/core/system/src/forward-polymorphic-ref/forward-polymorphic-ref.ts
  packages/core/system/src/forward-polymorphic-ref/forward-polymorphic-ref.types.ts
  packages/core/system/src/forward-polymorphic-ref/index.ts
  packages/core/system/src/forward-ref/__tests__/forward-ref.test.tsx
  packages/core/system/src/forward-ref/forward-ref.ts
  packages/core/system/src/forward-ref/forward-ref.types.ts
  packages/core/system/src/forward-ref/index.ts
  packages/core/system/src/index.ts
  packages/react/src/components/link/link.tsx
  packages/react/src/components/text/text.tsx
  pnpm-lock.yaml
  turbo/generators/templates/component/component.hbs
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm test -- --findRelatedTests

feat(eslint): add forwardPolymorphicRef configuration
  eslint.config.mjs
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(package): update build and dev scripts
  package.json
  pnpm-lock.yaml
Due: pnpm -w prettier --write, pnpm exec sort-package-json

feat(variants): add core variants package
  packages/core/variants/.gitignore
  packages/core/variants/README.md
  packages/core/variants/package.json
  packages/core/variants/src/components/index.ts
  packages/core/variants/src/components/link/index.ts
  packages/core/variants/src/components/link/link.ts
  packages/core/variants/src/components/text/index.ts
  packages/core/variants/src/components/text/text.ts
  packages/core/variants/src/index.ts
  packages/core/variants/tsconfig.json
  packages/core/variants/tsup.config.ts
  pnpm-lock.yaml
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm exec sort-package-json

refactor(variants): restructure Text and Link components
  packages/core/variants/src/components/index.ts
  packages/core/variants/src/components/link-variants/index.ts
  packages/core/variants/src/components/link-variants/link-variants.ts
  packages/core/variants/src/components/link/index.ts
  packages/core/variants/src/components/text-variants/index.ts
  packages/core/variants/src/components/text-variants/text-variants.ts
  packages/core/variants/src/components/text/index.ts
  packages/react/src/components/index.ts
  packages/react/src/components/link/link.hook.ts
  packages/react/src/components/link/link.variants.ts
  packages/react/src/components/text/text.hook.ts
  packages/react/src/components/text/text.variants.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

refactor(repo): clean code for best practices
  packages/core/variants/.gitignore
  packages/core/variants/README.md
  packages/core/variants/package.json
  packages/core/variants/src/components/index.ts
  packages/core/variants/src/components/link-variants/index.ts
  packages/core/variants/src/components/text-variants/index.ts
  packages/core/variants/src/index.ts
  packages/core/variants/tsconfig.json
  packages/core/variants/tsup.config.ts
  packages/react/src/components/link/link.hook.ts
  packages/react/src/components/link/link.variants.ts
  packages/react/src/components/text/text.hook.ts
  packages/react/src/components/text/text.variants.ts
  pnpm-lock.yaml
  turbo/generators/templates/component/config.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm exec sort-package-json

refactor(repo): clean code for best practices
  turbo/generators/templates/component/component.hook.hbs
  turbo/generators/templates/component/config.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

refactor(sonarcloud): remove duplication code (#42)
  .github/workflows/sonarqube.yml
  apps/storybook/stories/link/link.stories.tsx
  eslint.config.mjs
  package.json
  packages/core/system/package.json
  packages/core/system/src/filter-html-attributes/filter-html-attributes.ts
  packages/core/system/src/forward-polymorphic-ref/__tests__/forward-polymorphic-ref.test.tsx
  packages/core/system/src/forward-polymorphic-ref/forward-polymorphic-ref.ts
  packages/core/system/src/forward-polymorphic-ref/forward-polymorphic-ref.types.ts
  packages/core/system/src/forward-polymorphic-ref/index.ts
  packages/core/system/src/forward-ref/__tests__/forward-ref.test.tsx
  packages/core/system/src/forward-ref/forward-ref.ts
  packages/core/system/src/forward-ref/forward-ref.types.ts
  packages/core/system/src/forward-ref/index.ts
  packages/core/system/src/index.ts
  packages/core/theme/package.json
  packages/react/package.json
  packages/react/src/components/index.ts
  packages/react/src/components/link/__tests__/link.test.tsx
  packages/react/src/components/link/index.ts
  packages/react/src/components/link/link.hook.ts
  packages/react/src/components/link/link.tsx
  packages/react/src/components/link/link.variants.ts
  packages/react/src/components/text/__tests__/text.test.tsx
  packages/react/src/components/text/index.ts
  packages/react/src/components/text/text.hook.ts
  packages/react/src/components/text/text.tsx
  packages/react/src/components/text/text.variants.ts
  packages/react/src/index.ts
  packages/react/src/utils/create-component-props/create-component-props.ts
  packages/react/src/utils/create-component-props/create-component-props.types.ts
  packages/react/src/utils/create-component-props/index.ts
  packages/react/src/utils/index.ts
  pnpm-lock.yaml
  turbo/generators/templates/component/component.hbs
  turbo/generators/templates/component/component.hook.hbs
  turbo/generators/templates/component/config.ts
  turbo/generators/templates/package/package.hbs
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm exec sort-package-json, pnpm test -- --findRelatedTests

refactor(chore): improve code quality
  turbo/generators/templates/component/config.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

refactor(chore): improve code quality
  turbo/generators/templates/component/__tests__/component.test.hbs
  turbo/generators/templates/component/component.hook.hbs
  turbo/generators/templates/component/component.test.hbs
  turbo/generators/templates/component/component.variants.hbs
  turbo/generators/templates/component/config.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

refactor(chore): improve code quality
  apps/storybook/stories/button/button.stories.tsx
  packages/core/system/tsconfig.json
  packages/core/theme/.gitignore
  packages/core/theme/package.json
  packages/core/theme/scripts/build-theme.ts
  packages/core/theme/src/base.scss
  packages/core/theme/src/colors/common/blue.scss
  packages/core/theme/src/colors/common/green.scss
  packages/core/theme/src/colors/common/purple.scss
  packages/core/theme/src/colors/common/red.scss
  packages/core/theme/src/colors/common/yellow.scss
  packages/core/theme/src/colors/dark/black-white.scss
  packages/core/theme/src/colors/dark/neutral.scss
  packages/core/theme/src/colors/light/black-white.scss
  packages/core/theme/src/colors/light/neutral.scss
  packages/core/theme/src/themes/dark.scss
  packages/core/theme/src/themes/light.scss
  packages/core/theme/src/tokens/themes/dark.json
  packages/core/theme/src/tokens/themes/light.json
  packages/core/theme/style-dictionary.config.ts
  packages/core/theme/tsconfig.json
  packages/react/src/components/button/button.hook.ts
  packages/react/src/components/button/button.tsx
  packages/react/src/components/button/button.variants.ts
  packages/react/src/components/button/index.ts
  packages/react/src/components/index.ts
  packages/react/src/components/link/link.hook.ts
  packages/react/src/components/link/link.variants.ts
  packages/react/src/components/text/text.hook.ts
  packages/react/src/utils/create-component-props/create-component-props.ts
  packages/react/src/utils/create-component-props/create-component-props.types.ts
  pnpm-lock.yaml
  turbo/generators/templates/component/component.hook.hbs
  turbo/generators/templates/component/stories/component.stories.hbs
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm exec sort-package-json

refactor(chore): improve code quality
  eslint.config.mjs
  packages/core/theme/.gitignore
  packages/core/theme/README.md
  packages/core/theme/package.json
  packages/core/theme/scripts/build-theme.ts
  packages/core/theme/src/tokens/themes/dark.json
  packages/core/theme/src/tokens/themes/light.json
  packages/core/theme/style-dictionary.config.ts
  packages/core/theme/tsconfig.json
  packages/system/.gitignore
  packages/system/README.md
  packages/system/package.json
  packages/system/src/filter-html-attributes/__tests__/filter-html-attributes.test.ts
  packages/system/src/filter-html-attributes/__tests__/html-element-attributes.test.ts
  packages/system/src/filter-html-attributes/filter-html-attributes.ts
  packages/system/src/filter-html-attributes/filter-html-attributes.types.ts
  packages/system/src/filter-html-attributes/html-element-attributes.ts
  packages/system/src/filter-html-attributes/html-element-attributes.types.ts
  packages/system/src/filter-html-attributes/index.ts
  packages/system/src/forward-polymorphic-ref/__tests__/forward-polymorphic-ref.test.tsx
  packages/system/src/forward-polymorphic-ref/forward-polymorphic-ref.ts
  packages/system/src/forward-polymorphic-ref/forward-polymorphic-ref.types.ts
  packages/system/src/forward-polymorphic-ref/index.ts
  packages/system/src/index.ts
  packages/system/tsconfig.json
  packages/system/tsup.config.ts
  turbo/generators/templates/component/__tests__/component.test.hbs
  turbo/generators/templates/component/config.ts
  turbo/generators/templates/package/config.ts
  turbo/generators/templates/package/package.hbs
  turbo/generators/templates/package/tsconfig.hbs
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm exec sort-package-json, pnpm test -- --findRelatedTests

refactor(chore): improve code quality
  pnpm-lock.yaml
Due: pnpm -w prettier --write

refactor(chore): improve code quality
  packages/system/tsconfig.json
Due: pnpm -w prettier --write

refactor(chore): improve code quality
  packages/react/package.json
  packages/system/package.json
  turbo/generators/templates/package/package.hbs
Due: pnpm -w prettier --write, pnpm exec sort-package-json
