Repository hikoinc/hikoui-beta: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm -w eslint --fix, pnpm -w prettier --write

chore(dictionary): add english dictionary
  .vscode/ltex.dictionary.en-US.txt
Due: none

docs(react): add readme
  packages/react/README.md
Due: pnpm -w prettier --write

ci(workflow): add support for labeled pull requests
  .github/workflows/semantic-pull-request.yml
Due: pnpm -w prettier --write

ci(workflow): add stale issue management workflow
  .github/workflows/issue-stale.yml
Due: pnpm -w prettier --write

ci(workflow): swap pull_request and push triggers
  .github/workflows/codeql.yml
  .github/workflows/quality.yml
Due: pnpm -w prettier --write

fix(workflow): correct syntax in release.yml
  .github/workflows/release.yml
Due: pnpm -w prettier --write

ci(workflow): remove push trigger
  .github/workflows/codeql.yml
  .github/workflows/quality.yml
Due: pnpm -w prettier --write

chore(eslint): reorganize imports
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(storybook): reorder import statement for consistency
  app/storybook/.storybook/main.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(lint): add sorting for package.json
  .lintstagedrc.json
Due: pnpm -w prettier --write

docs(react): update readme links for contributing
  README.md
  packages/react/README.md
Due: pnpm -w prettier --write

docs(react): update project name
  packages/react/README.md
Due: pnpm -w prettier --write

chore(repo): update repo (#17)
  .github/workflows/codeql.yml
  .github/workflows/issue-stale.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/semantic-pull-request.yml
  .lintstagedrc.json
  .vscode/ltex.dictionary.en-US.txt
  app/storybook/.storybook/main.ts
  eslint.config.mjs
  package.json
  packages/react/README.md
  pnpm-lock.yaml
Due: pnpm -w eslint --fix, pnpm -w prettier --write

ci(workflow): update token in release.yml
  .github/workflows/release.yml
Due: pnpm -w prettier --write

chore(dependencies): add testing libraries and update jest version
  package.json
  pnpm-lock.yaml
Due: pnpm -w prettier --write

fix(workflow): correct capitalization
  .github/workflows/semantic-pull-request.yml
Due: pnpm -w prettier --write

chore(pr-template): streamline and enhance pull request template
  .github/pull_request_template.md
Due: pnpm -w prettier --write

chore(package): add jest testing scripts
  package.json
Due: pnpm -w prettier --write

chore(eslint): add environment settings
  eslint.config.mjs
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(tests): configure jest and add initial test cases
  .github/workflows/quality.yml
  jest.config.ts
  package.json
  packages/react/src/button/button.test.tsx
  packages/react/src/button/button.tsx
  pnpm-lock.yaml
  scripts/setup-test.ts
  tsconfig.json
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(workflow): rename jobs for clarity
  .github/workflows/quality.yml
Due: pnpm -w prettier --write

chore(package): update changeset commands for next release
  package.json
Due: pnpm -w prettier --write

chore(nvm): add nodejs version
  .nvmrc
Due: none

chore(npm): configure peer dependency settings
  .npmrc
Due: none

chore(package): update build and clean scripts
  package.json
Due: pnpm -w prettier --write

chore(dependencies): update various package versions
  pnpm-lock.yaml
Due: pnpm -w prettier --write

chore(package): update dependencies
  packages/react/package-lock.json
  packages/react/package.json
Due: pnpm -w prettier --write

chore(dependencies): update pnpm lockfile
  pnpm-lock.yaml
Due: pnpm -w prettier --write

chore(storybook): remove deprecated
  app/storybook/stories/Configure.mdx
  app/storybook/stories/assets/accessibility.png
  app/storybook/stories/assets/accessibility.svg
  app/storybook/stories/assets/addon-library.png
  app/storybook/stories/assets/assets.png
  app/storybook/stories/assets/avif-test-image.avif
  app/storybook/stories/assets/context.png
  app/storybook/stories/assets/discord.svg
  app/storybook/stories/assets/docs.png
  app/storybook/stories/assets/figma-plugin.png
  app/storybook/stories/assets/github.svg
  app/storybook/stories/assets/share.png
  app/storybook/stories/assets/styling.png
  app/storybook/stories/assets/testing.png
  app/storybook/stories/assets/theming.png
  app/storybook/stories/assets/tutorials.svg
  app/storybook/stories/assets/youtube.svg
Due: none

chore(storybook): remove unused function
  app/storybook/.storybook/get-absolute-path.helper.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(storybook): refactor getAbsolutePath helper function
  app/storybook/.storybook/helper/get-absolute-path.ts
  app/storybook/.storybook/helper/index.ts
  app/storybook/.storybook/main.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(commitlint): remove subject-case rule from configuration
  commitlint.config.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(commitlint): update subject pattern to allow uppercase letters
  .github/workflows/semantic-pull-request.yml
Due: pnpm -w prettier --write

chore(storybook): simplify preview configuration
  app/storybook/.storybook/preview.ts
  app/storybook/.storybook/styles/global.css
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(storybook): add Tailwind CSS and PostCSS dependencies
  app/storybook/package.json
  app/storybook/postcss.config.mjs
Due: pnpm -w eslint --fix, pnpm -w prettier --write

test(button): add afterEach to clear mocks in button tests
  packages/react/src/button/button.test.tsx
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(workflows): rename semantic pull request workflow
  .github/workflows/semantic-pull-request.yml
Due: pnpm -w prettier --write

chore(workflows): add validation for single commit
  .github/workflows/semantic-pull-request.yml
Due: pnpm -w prettier --write

chore(workflows): add SonarQube analysis workflow
  .github/workflows/sonarqube.yml
Due: pnpm -w prettier --write

Path conditions:
  pnpm -w eslint --fix: any of: *.{js,mjs,cjs,jsx,mjsx,ts,tsx,mtsx}
  pnpm -w prettier --write: (any of: *.{js,mjs,cjs,jsx,mjsx,ts,tsx,mtsx}) or (any of: *.{json,md,yml,yaml})
