Repository hikoinc/hikoui-beta: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm exec sort-package-json, pnpm test -- --findRelatedTests

chore(dependencies): remove unused dependencies
  packages/core/system/package.json
  pnpm-lock.yaml
Due: pnpm -w prettier --write, pnpm exec sort-package-json

feat(filter-html-attributes): implement attribute filtering
  packages/core/system/src/filter-html-attributes/filter-html-attributes.ts
  packages/core/system/src/filter-html-attributes/html-element-attributes.ts
  packages/core/system/src/filter-html-attributes/html-element-attributes.types.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

refactor(theme): remove commented-out sections
  packages/core/theme/src/base.scss
Due: none

test(filter-html-attributes): add comprehensive unit tests
  packages/core/system/src/filter-html-attributes/__tests__/filter-html-attributes.test.ts
  packages/core/system/src/filter-html-attributes/__tests__/html-element-attributes.test.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm test -- --findRelatedTests

chore(package.json): update build scripts
  apps/storybook/package.json
  package.json
Due: pnpm -w prettier --write, pnpm exec sort-package-json

test(text): add integration and visual regression tests
  packages/components/react/src/text/__tests__/__snapshots__/text.visual.test.tsx.snap
  packages/components/react/src/text/__tests__/text.integration.test.tsx
  packages/components/react/src/text/__tests__/text.visual.test.tsx
  packages/core/system/src/filter-html-attributes/__tests__/filter-html-attributes.test.ts
  packages/core/system/src/forward-ref/__tests__/forward-ref.test.tsx
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm test -- --findRelatedTests

refactor(forward-ref): simplify forwardRef function
  packages/core/system/src/forward-ref/forward-ref.ts
  packages/core/system/src/forward-ref/forward-ref.types.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

refactor(text.hook): optimize useText hook
  packages/components/react/src/text/text.hook.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

refactor(text.hook): rename and enhance useText hook
  turbo/generators/templates/component/component.hook.hbs
Due: none

docs(readme): update package name
  packages/core/system/README.md
Due: pnpm -w prettier --write

refactor(filter-html-attributes): update HTMLAttributes type
  packages/core/system/src/filter-html-attributes/filter-html-attributes.types.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

refactor(package-generator): remove .gitignore template
  turbo/generators/templates/package/config.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(sonarqube): update test command
  .github/workflows/sonarqube.yml
  .husky/pre-commit
  package.json
Due: pnpm -w prettier --write, pnpm exec sort-package-json

fix(tests): update snapshot
  packages/components/react/src/text/__tests__/__snapshots__/text.visual.test.tsx.snap
Due: none

feat(filter-html-attributes): add support for custom data
  packages/core/system/src/filter-html-attributes/html-element-attributes.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

fix(package.json): correct repository directory path
  packages/components/react/package.json
Due: pnpm -w prettier --write, pnpm exec sort-package-json

refactor(package-generator): update package creation prompts
  turbo/generators/templates/component/component.hbs
  turbo/generators/templates/component/component.hook.hbs
  turbo/generators/templates/package/config.ts
  turbo/generators/templates/package/package.hbs
Due: pnpm -w eslint --fix, pnpm -w prettier --write

fix(tests): update snapshots to include role attributes for accessibility
  packages/components/react/src/text/__tests__/__snapshots__/text.visual.test.tsx.snap
Due: none

fix(forward-ref): improve type safety in forwardRef
  packages/core/system/src/forward-ref/forward-ref.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

fix(tests): remove role attributes from visual regression
  packages/components/react/src/text/__tests__/__snapshots__/text.visual.test.tsx.snap
Due: none

fix(forward-ref): enhance type safety
  packages/core/system/src/forward-ref/__tests__/forward-ref.test.tsx
  packages/core/system/src/forward-ref/forward-ref.ts
  packages/core/system/src/forward-ref/forward-ref.types.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm test -- --findRelatedTests

chore(tests): remove integration and visual regression
  packages/components/react/src/text/__tests__/__snapshots__/text.visual.test.tsx.snap
  packages/components/react/src/text/__tests__/text.integration.test.tsx
  packages/components/react/src/text/__tests__/text.visual.test.tsx
Due: pnpm -w eslint --fix, pnpm -w prettier --write, pnpm test -- --findRelatedTests

fix(forward-ref): refine type definitions
  packages/core/system/src/forward-ref/forward-ref.types.ts
Due: pnpm -w eslint --fix, pnpm -w prettier --write

refactor(text-hook): rename computedProps
  packages/components/react/src/text/text.hook.ts
  turbo/generators/templates/component/component.hook.hbs
Due: pnpm -w eslint --fix, pnpm -w prettier --write

chore(dependencies): update @turbo/gen to version 2.5.4
  package.json
  pnpm-lock.yaml
Due: pnpm -w prettier --write, pnpm exec sort-package-json

chore(vscode): add SCSS file association
  .vscode/settings.json
Due: pnpm -w prettier --write

chore(vscode): remove CSS and SCSS file associations
  .vscode/settings.json
Due: pnpm -w prettier --write

chore(dependencies): add stylelint dependencie
  package.json
  pnpm-lock.yaml
Due: pnpm -w prettier --write, pnpm exec sort-package-json

chore(stylelint): add configuration
  .stylelintignore
  .stylelintrc.json
Due: pnpm -w prettier --write

fix(styles): correct quotes
  packages/core/theme/src/base.scss
Due: none

chore(github): update issue templates
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/common-actions/setup/action.yml
  .github/workflows/codeql.yml
  .github/workflows/issue-stale.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/semantic.yml
  .github/workflows/sonarqube.yml
Due: pnpm -w prettier --write

chore(lint): update linting commands
  package.json
Due: pnpm -w prettier --write, pnpm exec sort-package-json

chore(github): refactor job dependencies
  .github/workflows/quality.yml
Due: pnpm -w prettier --write

chore(github): standardize cron syntax
  .github/workflows/issue-stale.yml
  .github/workflows/release.yml
Due: pnpm -w prettier --write

chore(github): add TypeScript support
  .github/workflows/codeql.yml
Due: pnpm -w prettier --write

chore(github): simplify check formatting job name
  .github/workflows/quality.yml
Due: pnpm -w prettier --write

chore(github): correct language casing
  .github/workflows/codeql.yml
Due: pnpm -w prettier --write

chore(github): refactor CodeQL workflow
  .github/workflows/codeql.yml
Due: pnpm -w prettier --write

chore(config): update changeset ignore pattern
  .changeset/config.json
Due: pnpm -w prettier --write

Path conditions:
  pnpm -w eslint --fix: any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts}
  pnpm -w prettier --write: (any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts}) or (any of: *.{json,md,yml,yaml})
  pnpm exec sort-package-json: any of: **/package.json
  pnpm test -- --findRelatedTests: any of: **/__tests__/*.{ts,tsx}
